# Configuration for a Intel S2600wf server mainboard
# and it is NERF, not coreboot.
#
# Booting with UEFI in recovery (0xFEC00000) potentially
# gives us 7 MB of # space for Heads and NERF.  However,
# there appears to be a bug if the fvh spans a 4 MB
# region.
#
# The DxeCore also needs to be updated to know  about the
# new firmware volume location.
#
CONFIG_LINUXBOOT=y
CONFIG_LINUXBOOT_ROM=blobs/s2600wf.rom
CONFIG_LINUX_CONFIG=config/linux-linuxboot.config

#CONFIG_CRYPTSETUP=y
#CONFIG_FLASHROM=y
CONFIG_FLASHTOOLS=y
CONFIG_GPG=y
CONFIG_KEXEC=y
CONFIG_UTIL_LINUX=y
#CONFIG_LVM2=y
#CONFIG_MBEDTLS=y
CONFIG_PCIUTILS=y
#CONFIG_POPT=y
#CONFIG_QRENCODE=y
#CONFIG_TPMTOTP=y
CONFIG_DROPBEAR=y

CONFIG_LINUX_USB=y
#CONFIG_LINUX_IGB=y
#CONFIG_LINUX_MEGARAID=y
#CONFIG_LINUX_E1000E=y
CONFIG_LINUX_SCSI_GDTH=y
CONFIG_LINUX_ATA=y
CONFIG_LINUX_AHCI=y

export CONFIG_TPM=n
export CONFIG_BOOTSCRIPT=/bin/generic-init
export CONFIG_BOOT_REQ_HASH=n
export CONFIG_BOOT_REQ_ROLLBACK=n
export CONFIG_BOOT_DEV="/dev/sda1"
