# Configuration for a Talos 2 running Qubes and other OSes
# The board uses BE coreboot and LE Linux kernel and initrd
CONFIG_TARGET_ARCH=ppc64

export CONFIG_COREBOOT=y
export CONFIG_COREBOOT_VERSION=talos_2
export CONFIG_LINUX_VERSION=5.5-openpower

CONFIG_COREBOOT_CONFIG=config/coreboot-talos-2.config
CONFIG_COREBOOT_ROM=coreboot.rom.signed.ecc
CONFIG_COREBOOT_BOOTBLOCK=bootblock.signed.ecc
CONFIG_LINUX_CONFIG=config/linux-talos-2_workstation.config

CONFIG_CRYPTSETUP=y
CONFIG_LVM2=y
CONFIG_KEXEC=y
CONFIG_UTIL_LINUX=y
CONFIG_MBEDTLS=y
CONFIG_POPT=y
CONFIG_QRENCODE=y
CONFIG_TPMTOTP=y
CONFIG_GPG2=y
CONFIG_PCIUTILS=y
CONFIG_FLASHROM=y
CONFIG_FLASHTOOLS=y

#whiptail in graphical mode
CONFIG_CAIRO=y
CONFIG_FBWHIPTAIL=y

CONFIG_LINUX_USB=y
CONFIG_LINUX_BUNDLED=y

#SSH client/server
CONFIG_DROPBEAR=y

# for OpenBMC VGA console
export CONFIG_USE_AGETTY=y
export CONFIG_USB_KEYBOARD=y
export CONFIG_BOOT_EXTRA_TTYS="tty0"

export CONFIG_TPM=y
export CONFIG_BOOTSCRIPT=/bin/gui-init
export CONFIG_BOOT_REQ_HASH=n
export CONFIG_BOOT_REQ_ROLLBACK=n
export CONFIG_BOOT_KERNEL_REMOVE="quiet"
export CONFIG_BOOT_KERNEL_ADD="console=tty0 console=hvc0 rootdelay=3 rootwait panic=10"
export CONFIG_BOOT_DEV="/dev/sda1"
export CONFIG_BOARD_NAME="Talos 2 Workstation"
export CONFIG_FLASHROM_OPTIONS="--noverify-all -p linux_mtd"

OUTPUT_PREFIX	:= heads-$(BOARD)-$(HEADS_GIT_VERSION)
BUNDLED_LINUX	:= $(OUTPUT_PREFIX)-zImage.bundled
OUTPUT_FILES	:= $(CB_OUTPUT_FILE) $(CB_BOOTBLOCK_FILE) $(BUNDLED_LINUX)

all: $(board_build)/$(BUNDLED_LINUX)
$(board_build)/$(BUNDLED_LINUX): $(board_build)/zImage.bundled
	$(call do-copy,$<,$@)

all: $(board_build)/$(OUTPUT_PREFIX).tgz
$(board_build)/$(OUTPUT_PREFIX).tgz: \
	$(addprefix $(board_build)/,$(OUTPUT_FILES))
	rm -rf $(board_build)/pkg # cleanup in case directory exists
	mkdir $(board_build)/pkg
	cp $^ $(board_build)/pkg
	cd $(board_build)/pkg && sha256sum * > hashes.txt
	cd $(board_build)/pkg && tar zcf $@ *
	rm -r $(board_build)/pkg
