# Minimal configuration for a x230 to support flashrom and USB
# This top SPI flash image needed to flash legacy board counterpart internally
# This image aims to flash visible 8mb flash chip under palmrest to then flash full maximized rom
export CONFIG_COREBOOT=y
export CONFIG_COREBOOT_VERSION=4.19
export CONFIG_LINUX_VERSION=5.10.5

CONFIG_COREBOOT_CONFIG=config/coreboot-w530-maximized_flash_under_palmrest.config
CONFIG_LINUX_CONFIG=config/linux-x230-flash.config

#Add bare minimal tools for flashing boards
CONFIG_BASH=n
CONFIG_FLASHROM=y
CONFIG_ZSTD=n
#CONFIG_GPG=y
#CONFIG_FLASHTOOLS=y
CONFIG_PCIUTILS=y
#CONFIG_MBEDTLS=y
#CONFIG_QRENCODE=y
#CONFIG_TPMTOTP=y
#CONFIG_DROPBEAR=y


#Additional hardware support
CONFIG_LINUX_USB=y
#CONFIG_LINUX_E1000E=y

export CONFIG_BOOTSCRIPT=/bin/xx30-flash.init
export CONFIG_BOARD_NAME="Thinkpad W530-internal_flasher_8mb_under_palmrest"
export CONFIG_FLASHROM_OPTIONS="-p internal:laptop=force_I_want_a_brick,boardmismatch=force --layout /etc/layout_maximized_ivy.txt"

# This board is "special" in that we will flash the 8MB visible 8mb flash ROM under palmrest to then flash internally the full rom.
# This is enough to allow the board to boot into a minimal Heads and read the full Legacy
# ROM from an external USB media.
