# WIP configuration for System 76 Lemur Pro 10

export CONFIG_COREBOOT=y
export CONFIG_COREBOOT_VERSION=4.15
export CONFIG_LINUX_VERSION=5.10.5

CONFIG_COREBOOT_CONFIG=config/coreboot-lemp10.config
CONFIG_LINUX_CONFIG=config/linux-lemp10.config

CONFIG_KEXEC=y
CONFIG_POPT=y
CONFIG_FLASHTOOLS=y
# TODO: FIGURE OUT IF THIS WORKS, a patch is currently being reviewed upstream
# for it
CONFIG_FLASHROM=y 
CONFIG_PCIUTILS=y
CONFIG_UTIL_LINUX=y
CONFIG_CRYPTSETUP=y
CONFIG_GPG2=y
CONFIG_LVM2=y
CONFIG_MBEDTLS=y
CONFIG_MSRTOOLS=y

# TODO: enable TPM2 when support is merged
#CONFIG_TPM2_TOOLS=y
#CONFIG_TPM2_TSS=y
#CONFIG_OPENSSL=y

#Uncomment only one of the following block
#Required for graphical gui-init (FBWhiptail)
#CONFIG_CAIRO=y
#CONFIG_FBWHIPTAIL=y
#
#text-based init (generic-init and gui-init)
CONFIG_NEWT=y
CONFIG_SLANG=y

#CONFIG_LINUX_ATA=y
#CONFIG_LINUX_AHCI=y
#CONFIG_LINUX_USB=y
#CONFIG_LINUX_E1000=y

#Uncomment only one BOOTSCRIPT:
#Whiptail-based init (text-based or FBWhiptail)
#export CONFIG_BOOTSCRIPT=/bin/gui-init
#
#text-based original init:
export CONFIG_BOOTSCRIPT=/bin/generic-init

export CONFIG_TPM=n
# TODO: enable TPM2 when support is merged
export CONFIG_TPM2=n
export CONFIG_BOOT_DEV="/dev/nvme0n1"
export CONFIG_BOOT_REQ_HASH=n
export CONFIG_BOOT_REQ_ROLLBACK=n
export CONFIG_BOOT_KERNEL_ADD="intel_iommu=on"
export CONFIG_BOOT_KERNEL_REMOVE=""
export CONFIG_BOARD_NAME="Lemur Pro 10"
export CONFIG_FLASHROM_OPTIONS="-p internal"
#export CONFIG_AUTO_BOOT_TIMEOUT=5
