version: 2
jobs:
  build:
    docker:
      - image: debian:bullseye
    steps:
      - run:
          name: Install dependencies
          command: |
            apt update
            apt install -y build-essential zlib1g-dev uuid-dev libdigest-sha-perl libelf-dev bc bzip2 bison flex git gnupg iasl m4 nasm patch python wget gnat cpio ccache pkg-config cmake libusb-1.0-0-dev autoconf texinfo ncurses-dev
      - checkout

      - restore_cache:
          key: heads-{{ .Environment.CIRCLE_USERNAME }}-{{ .Environment.CACHE_VERSION }}

      - run:
          name: git reset
          command: |
            git reset --hard "$CIRCLE_SHA1" \

# linuxboot steps need something to pass in the kernel header path
# skipping for now
#      - run:
#          name: qemu-linuxboot-edk2
#          command: |
#            ./build/make-4.2.1/make \
#                CROSS=/cross/bin/x86_64-linux-musl- \
#                BOARD=qemu-linuxboot \
#                `/bin/pwd`/build/linuxboot-git/build/qemu/.configured \
#                # Run first to avoid too many processes
#
#      - run:
#          name: qemu-linuxboot
#          command: |
#            ./build/make-4.2.1/make \
#                CROSS=/cross/bin/x86_64-linux-musl- \
#                --load 2 \
#                V=1 \
#                BOARD=qemu-linuxboot \
#
#      - store-artifacts:
#          path: build/qemu-linuxboot/linuxboot.rom
#      - store-artifacts:
#          path: build/qemu-linuxboot/hashes.txt

      - run:
          name: x230-flash
          command: |
            rm -rf build/x230-flash/* build/log/* && make --load 2 \
                V=1 \
                BOARD=x230-flash \
          no_output_timeout: 3h
      - run:
          name: Ouput x230-flash hashes
          command: |
            cat build/x230-flash/hashes.txt \
      - run:
          name: Archiving build logs for x230-flash
          command: |
             tar zcvf build/x230-flash/logs.tar.gz build/log/*
      - store-artifacts:
          path: build/x230-flash

      - run:
          name: t430-flash
          command: |
            rm -rf build/t430-flash/* build/log/* && make --load 2 \
                V=1 \
                BOARD=t430-flash \
          no_output_timeout: 3h
      - run:
          name: Ouput t430-flash hashes
          command: |
            cat build/t430-flash/hashes.txt \
      - run:
          name: Archiving build logs for t430-flash
          command: |
             tar zcvf build/t430-flash/logs.tar.gz build/log/*
      - store-artifacts:
          path: build/t430-flash

      - run:
          name: t430
          command: |
            rm -rf build/t430/* build/log/* && make --load 2 \
                V=1 \
                BOARD=t430 \
          no_output_timeout: 3h
      - run:
          name: Ouput t430 hashes
          command: |
            cat build/t430/hashes.txt \
      - run:
          name: Archiving build logs for t430
          command: |
             tar zcvf build/t430/logs.tar.gz build/log/*
      - store-artifacts:
          path: build/t430

      - run:
          name: x230
          command: |
            rm -rf build/x230/* build/log/* && make --load 2 \
                V=1 \
                BOARD=x230 \
          no_output_timeout: 3h
      - run:
          name: Ouput x230 hashes
          command: |
            cat build/x230/hashes.txt \
      - run:
          name: Archiving build logs for x230
          command: |
             tar zcvf build/x230/logs.tar.gz build/log/*
      - store-artifacts:
          path: build/x230


      - run:
          name: x230-hotp-verification
          command: |
            rm -rf build/x230-hotp-verification/* build/log/* && make --load 2 \
                V=1 \
                BOARD=x230-hotp-verification \
          no_output_timeout: 3h
      - run:
          name: Ouput x230-hotp-verification hashes
          command: |
            cat build/x230-hotp-verification/hashes.txt \
      - run:
          name: Archiving build logs for x230-hotp-verification
          command: |
             tar zcvf build/x230-hotp-verification/logs.tar.gz build/log/*
      - store-artifacts:
          path: build/x230-hotp-verification

      - run:
          name: qemu-coreboot
          command: |
            rm -rf build/make-4.2.1/ build/qemu-coreboot/* build/log/* && make --load 2 \
                V=1 \
                BOARD=qemu-coreboot \
          no_output_timeout: 3h
      - run:
          name: Output qemu-coreboot hashes
          command: |
             cat build/qemu-coreboot/hashes.txt \
      - run:
          name: Archiving build logs for qemu-coreboot
          command: |
             tar zcvf build/qemu-coreboot/logs.tar.gz build/log/*
      - store-artifacts:
          path: build/qemu-coreboot

      - save_cache:
          key: heads-{{ .Environment.CIRCLE_USERNAME }}{{ .Environment.CACHE_VERSION }}
          paths:
            - packages
            - crossgcc
            - build

workflows:
  version: 2
  build_and_test:
    jobs:
      - build
