version: 2.1

setup: true

orbs:
  continuation: circleci/continuation@1

jobs:
  generate-config:
    executor: continuation/default
    steps:
      - checkout
      - run:
          name: Generate config
          command: |
            ./.circleci/generate-config.sh > .circleci/generated-config.yml
      - continuation/continue:
          configuration_path: .circleci/generated-config.yml

workflows:
  generate-config:
    jobs:
      - generate-config