version: 2.1

commands:
  build_board:
    parameters:
      arch:
        type: string
      target:
        type: string
      subcommand:
        type: string
    steps:
      - run:
          name: Install dependencies
          command: |
            ln -fs /usr/share/zoneinfo/America/New_York /etc/localtime
            apt update
            apt install -y build-essential zlib1g-dev uuid-dev libdigest-sha-perl libelf-dev bc bzip2 bison flex git gnupg gawk iasl m4 nasm patch python python2 python3 wget gnat cpio ccache pkg-config cmake libusb-1.0-0-dev autoconf texinfo ncurses-dev doxygen graphviz udev libudev1 libudev-dev automake libtool rsync innoextract sudo libssl-dev device-tree-compiler u-boot-tools sharutils e2fsprogs parted curl unzip
      - run:
          name: Make Board (FULL ORDERED BUILD LOGS HERE UNTIL JOB FAILED)
          command: |
            rm -rf build/<<parameters.arch>>/<<parameters.target>>/* build/<<parameters.arch>>/log/* && make V=1 BOARD=<<parameters.target>> <<parameters.subcommand>> || touch ./tmpDir/failed_build
          no_output_timeout: 3h
      - run:
          name: Output hashes
          command: |
            cat build/<<parameters.arch>>/<<parameters.target>>/hashes.txt || echo "No hashes.txt for this build step..."
      - run:
          name: Output sizes
          command: |
            cat build/<<parameters.arch>>/<<parameters.target>>/sizes.txt || echo "No sizes.txt for this build step..."
      - run:
          name: Archiving build logs.
          command: |
             tar zcvf build/<<parameters.arch>>/<<parameters.target>>/logs.tar.gz $(find build/ -name "*.log")
      - run:
          name: Output build failing logs
          command: |
            if [[ -f ./tmpDir/failed_build ]]; then find ./build/<<parameters.arch>>/ -name "*.log" -type f -mmin -1|while read log; do echo ""; echo '==>' "$log" '<=='; echo ""; cat $log;done; exit 1;else echo "Step hasn't failed. Continuing with next step..."; fi \
      - store_artifacts:
          path: build/<<parameters.arch>>/<<parameters.target>>

jobs:
  prep_env:
    docker:
      - image: debian:11
    resource_class: large
    steps:
      - run:
          name: Install dependencies
          command: |
            ln -fs /usr/share/zoneinfo/America/New_York /etc/localtime 
            apt update
            apt install -y build-essential zlib1g-dev uuid-dev libdigest-sha-perl libelf-dev bc bzip2 bison flex git gnupg gawk iasl m4 nasm patch python python2 python3 wget gnat cpio ccache pkg-config cmake libusb-1.0-0-dev autoconf texinfo ncurses-dev doxygen graphviz udev libudev1 libudev-dev automake libtool rsync innoextract sudo
      - checkout

      - run:
          name: git reset
          command: |
            git reset --hard "$CIRCLE_SHA1" \

      - run:
          name: Make tmp dir
          command: |
            mkdir ./tmpDir \

      - run:
          name: Creating all modules and patches digest (All modules cache digest)
          command: |
            find ./Makefile ./patches/ ./modules/ -type f | sort -h |xargs sha256sum > ./tmpDir/all_modules_and_patches.sha256sums \

      - run:
          name: Creating coreboot (and associated patches) and musl-cross-make modules digest (musl-cross-make and coreboot cache digest)
          command: |
            find ./Makefile ./modules/coreboot ./modules/musl-cross* ./patches/coreboot* -type f | sort -h | xargs sha256sum > ./tmpDir/coreboot_musl-cross.sha256sums \

      - run:
          name: Creating musl-cross-make and musl-cross-make patches digest (musl-cross-make cache digest)
          command: |
            find ./Makefile modules/musl-cross* -type f | sort -h | xargs sha256sum > ./tmpDir/musl-cross.sha256sums \

      - restore_cache:
          keys:
            #Restore existing cache for matching modules digest, validated to be exactly the same as in github current commit.
            #This cache was made on top of below caches, if previously existing. If no module definition changed, we reuse this one. Otherwise...
            - nitrokey-heads-modules-and-patches-{{ checksum "./tmpDir/all_modules_and_patches.sha256sums" }}{{ .Environment.CACHE_VERSION }}
            #If precedent cache not found, restore cache for coreboot module (and patches) and musl-cross-make digests (coreboot: triannual release)
            #Otehrwise....
            - nitrokey-heads-coreboot-musl-cross-{{ checksum "./tmpDir/coreboot_musl-cross.sha256sums" }}{{ .Environment.CACHE_VERSION }}
            #If precedent cache not found. Restore cache for musl-cross-make module digest (rarely modified).
            #Otherwise, we build cleanly.
            - nitrokey-heads-musl-cross-{{ checksum "./tmpDir/musl-cross.sha256sums" }}{{ .Environment.CACHE_VERSION }}
      - run:
          name: Download and neuter xx20 ME (keep generated GBE and extracted IFD in tree)
          command: |
            ./blobs/xx20/download_parse_me.sh

      - run:
          name: Download and neuter xx30 ME (keep generated GBE and extracted IFD in tree)
          # me_cleaner.py present under heads xx30 blobs dir comes from https://github.com/corna/me_cleaner/blob/43612a630c79f3bc6f2653bfe90dfe0b7b137e08/me_cleaner.py
          command: |
            ./blobs/xx30/download_clean_me.sh -m $(readlink -f ./blobs/xx30/me_cleaner.py)

      - run:
          name: Download and extract t530 vbios roms for dgpu boards
          command: |
            ./blobs/xx30/vbios_t530.sh

      - run:
          name: Download and extract w530 vbios roms for dgpu boards
          command: |
            ./blobs/xx30/vbios_w530.sh

      - persist_to_workspace:
          root: ~/
          paths:
            - .

  build_and_persist:
    docker:
      - image: debian:11
    resource_class: large
    parameters:
      arch:
        type: string
        default: x86
      target:
        type: string
      subcommand:
        type: string
    steps:
      - attach_workspace:
          at: ~/
      - build_board:
          arch: <<parameters.arch>>
          target: <<parameters.target>>
          subcommand: <<parameters.subcommand>>
      - persist_to_workspace:
          root: ~/
          paths:
            - project/packages/<<parameters.arch>>
            - project/build/<<parameters.arch>>
            - project/crossgcc/<<parameters.arch>>
            - project/install/<<parameters.arch>>

  build:
    docker:
      - image: debian:11
    resource_class: large
    parameters:
      arch:
        type: string
        default: x86
      target:
        type: string
      subcommand:
        type: string
    steps:
      - attach_workspace:
          at: ~/
      - build_board:
          arch: <<parameters.arch>>
          target: <<parameters.target>> 
          subcommand: <<parameters.subcommand>>

  save_cache:
    docker:
      - image: debian:11
    resource_class: large
    steps:
      - attach_workspace:
          at: ~/
      - save_cache:
          #Generate cache for the same musl-cross module definition if hash is not previously existing
          #CircleCI removed their wildcard support, so we have to list precise versions to cache in directory names
          key: nitrokey-heads-musl-cross-{{ checksum "./tmpDir/musl-cross.sha256sums" }}{{ .Environment.CACHE_VERSION }}
          paths:
            - crossgcc
            - build/x86/musl-cross-38e52db8358c043ae82b346a2e6e66bc86a53bc1
            - build/ppc64/musl-cross-38e52db8358c043ae82b346a2e6e66bc86a53bc1
            - packages
      - save_cache:
          #Generate cache for the same coreboot mnd musl-cross-make modules definition if hash is not previously existing
          #CircleCI removed their wildcard support, so we have to list precise versions to cache in directory names
          key: nitrokey-heads-coreboot-musl-cross-{{ checksum "./tmpDir/coreboot_musl-cross.sha256sums" }}{{ .Environment.CACHE_VERSION }}
          paths:
            - crossgcc
            - build/x86/musl-cross-38e52db8358c043ae82b346a2e6e66bc86a53bc1
            - build/ppc64/musl-cross-38e52db8358c043ae82b346a2e6e66bc86a53bc1
            - packages
            - build/x86/coreboot-4.11
            - build/x86/coreboot-4.13
            - build/x86/coreboot-4.14
            - build/x86/coreboot-4.15
            - build/x86/coreboot-4.17
            - build/x86/coreboot-4.19
            - build/x86/coreboot-git
            - build/ppc64/coreboot-git
      - save_cache:
          #Generate cache for the exact same modules definitions if hash is not previously existing
          key: nitrokey-heads-modules-and-patches-{{ checksum "./tmpDir/all_modules_and_patches.sha256sums" }}{{ .Environment.CACHE_VERSION }}
          paths:
            - crossgcc
            - build
            - packages
            - install

workflows:
  version: 2
  build_and_test:
    jobs:
      - prep_env

# Below, sequentially build one board for each coreboot
# version. The last board in the sequence is the dependency
# for the parallel boards built at the end, and also save_cache.

      # Coreboot-git librems
      - build_and_persist:
          name: librem_14
          target: librem_14
          subcommand: ""
          requires:
            - prep_env

      # Coreboot-git Nitropads on top of coreboot-git librems
      - build_and_persist:
          name: nitropad-nv41
          target: nitropad-nv41
          subcommand: ""
          requires:
            - librem_14

      #Cache one workspace per architecture. Make sure workspace caches are chainloaded and the last in chain for an arch is saved.
      - save_cache:
          requires:
            - nitropad-nv41
