CONFIG_TIMESTAMPS_ON_CONSOLE=y
# CONFIG_USE_BLOBS is not set
CONFIG_VENDOR_LENOVO=y
CONFIG_NO_POST=y
CONFIG_CBFS_SIZE=0x400000
# CONFIG_DRIVERS_INTEL_WIFI is not set
CONFIG_BOARD_LENOVO_X230=y
CONFIG_DRIVERS_UART_8250IO=y
CONFIG_COREBOOT_ROMSIZE_KB_4096=y
CONFIG_UART_PCI_ADDR=0
# CONFIG_ENABLE_VMX is not set
# CONFIG_SET_IA32_FC_LOCK_BIT is not set
# CONFIG_SET_MSR_AESNI_LOCK_BIT is not set
CONFIG_CPU_MICROCODE_CBFS_NONE=y
# CONFIG_RAMINIT_ENABLE_ECC is not set
# CONFIG_INTEL_CHIPSET_LOCKDOWN is not set
CONFIG_NO_GFX_INIT=y
# CONFIG_PCI_ALLOW_BUS_MASTER is not set
# CONFIG_INTEL_GMA_ADD_VBT is not set
CONFIG_DRIVERS_PS2_KEYBOARD=y
CONFIG_TPM_MEASURED_BOOT=y
CONFIG_CONSOLE_CBMEM_BUFFER_SIZE=0x80000
CONFIG_DEFAULT_CONSOLE_LOGLEVEL_8=y
CONFIG_PAYLOAD_LINUX=y
CONFIG_PAYLOAD_FILE="@BOARD_BUILD_DIR@/bzImage"
CONFIG_LINUX_INITRD="@BOARD_BUILD_DIR@/initrd.cpio.xz"
