# This image was built using coreboot 4.8-1253-g532e8a9bf5
CONFIG_ANY_TOOLCHAIN=y
CONFIG_VENDOR_ASROCK=y
CONFIG_VGA_BIOS=y
CONFIG_VGA_BIOS_FILE="pci1002,9802.rom"
CONFIG_BOARD_ASROCK_E350M1=y
CONFIG_PCIEXP_L1_SUB_STATE=y
CONFIG_NO_POST=y
CONFIG_PCIEXP_ASPM=y
# CONFIG_CONSOLE_SERIAL is not set
CONFIG_DEFAULT_CONSOLE_LOGLEVEL_8=y
CONFIG_PAYLOAD_ELF=y
CONFIG_PAYLOAD_FILE="grub.elf"
CONFIG_COMPRESSED_PAYLOAD_LZ4=y
