CONFIG_USE_UEFI_VARIABLE_STORE=y
CONFIG_VENDOR_STARLABS=y
# CONFIG_POST_IO is not set
CONFIG_HAVE_IFD_BIN=y
CONFIG_BOARD_STARLABS_LITE_ADL=y
# Required by the Heads CBFS/IFD validator; the board FMD is authoritative.
CONFIG_CBFS_SIZE=0x400000
CONFIG_EC_STARLABS_ADD_ITE_BIN=y
# CONFIG_BOOTMEDIA_SMM_BWP is not set
CONFIG_TPM_MEASURED_BOOT=y
CONFIG_SOC_INTEL_COMMON_SPI_LOCKDOWN_SMM=y
# CONFIG_INTEL_CHIPSET_LOCKDOWN is not set
CONFIG_HAVE_ME_BIN=y
CONFIG_LOCK_MANAGEMENT_ENGINE=y
CONFIG_SMMSTORE=y
CONFIG_BOOTMEDIA_LOCK_CONTROLLER=y
CONFIG_MAINBOARD_SERIAL_NUMBER="I500000"
CONFIG_PAYLOAD_LINUX=y
CONFIG_PAYLOAD_FILE="@BOARD_BUILD_DIR@/bzImage"
CONFIG_LINUX_INITRD="@BOARD_BUILD_DIR@/initrd.cpio.xz"
