CONFIG_TIMESTAMPS_ON_CONSOLE=y
# CONFIG_USE_BLOBS is not set
CONFIG_BOOTSPLASH_IMAGE=y
CONFIG_BOOTSPLASH_FILE="@BRAND_DIR@/bootsplash.jpg"
CONFIG_BOOTSPLASH_CONVERT=y
CONFIG_BOOTSPLASH_CONVERT_QUALITY=70
CONFIG_FW_CONFIG=y
CONFIG_FW_CONFIG_SOURCE_CBFS=y
CONFIG_VENDOR_LENOVO=y
CONFIG_NO_POST=y
CONFIG_CBFS_SIZE=0x400000
CONFIG_ONBOARD_VGA_IS_PRIMARY=y
# CONFIG_DRIVERS_INTEL_WIFI is not set
CONFIG_CONSOLE_CBMEM_BUFFER_SIZE=0x80000
CONFIG_BOARD_LENOVO_X230=y
CONFIG_TPM_MEASURED_BOOT=y
CONFIG_COREBOOT_ROMSIZE_KB_4096=y
# CONFIG_ENABLE_VMX is not set
# CONFIG_SET_IA32_FC_LOCK_BIT is not set
# CONFIG_SET_MSR_AESNI_LOCK_BIT is not set
# CONFIG_RAMINIT_ENABLE_ECC is not set
# CONFIG_INTEL_CHIPSET_LOCKDOWN is not set
CONFIG_GENERIC_LINEAR_FRAMEBUFFER=y
CONFIG_BOOTSPLASH=y
# CONFIG_PCI_ALLOW_BUS_MASTER is not set
CONFIG_PCIEXP_HOTPLUG_IO=0x2000
# CONFIG_RESOURCE_ALLOCATION_TOP_DOWN is not set
CONFIG_DRIVERS_PS2_KEYBOARD=y
# CONFIG_USE_PC_CMOS_ALTCENTURY is not set
CONFIG_DEFAULT_CONSOLE_LOGLEVEL_8=y
CONFIG_PAYLOAD_LINUX=y
CONFIG_PAYLOAD_FILE="@BOARD_BUILD_DIR@/bzImage"
CONFIG_LINUX_INITRD="@BOARD_BUILD_DIR@/initrd.cpio.xz"
