CONFIG_LOCALVERSION="4.11_wip-tpm"
CONFIG_USE_OPTION_TABLE=y
CONFIG_VENDOR_ASUS=y
CONFIG_UART_FOR_CONSOLE=1
CONFIG_BOARD_ASUS_KGPE_D16=y
CONFIG_DRIVERS_PS2_KEYBOARD=y
CONFIG_PCIEXP_L1_SUB_STATE=y
CONFIG_LINUX_COMMAND_LINE="nohz=on console=tty0 earlyprintk=tty0 quiet loglevel=2"
CONFIG_COREBOOT_ROMSIZE_KB_16384=y
CONFIG_POWER_STATE_ON_AFTER_FAILURE=y
CONFIG_PCIEXP_ASPM=y
CONFIG_PCIEXP_COMMON_CLOCK=y
CONFIG_PCIEXP_CLK_PM=y
CONFIG_USER_TPM2=y
CONFIG_TPM_MEASURED_BOOT=y
CONFIG_PAYLOAD_LINUX=y
CONFIG_PAYLOAD_FILE="@BOARD_BUILD_DIR@/bzImage"
CONFIG_LINUX_INITRD="@BOARD_BUILD_DIR@/initrd.cpio.xz"
