# Configuration for a purism13v1
BOARD=purism13v1

CONFIG_COREBOOT=y
CONFIG_CRYPTSETUP=y
CONFIG_FLASHROM=y
CONFIG_GPG=y
CONFIG_KEXEC=y
CONFIG_UTIL_LINUX=y
CONFIG_LVM2=y
CONFIG_MBEDTLS=y
CONFIG_PCIUTILS=y
CONFIG_POPT=y
CONFIG_QRENCODE=y
CONFIG_TPMTOTP=y
CONFIG_XEN=y

CONFIG_LINUX_USB=y
#CONFIG_LINUX_E1000E=y

CONFIG_BOOTSCRIPT=/bin/qubes-init

CONFIG_USB_BOOT_DEV="/dev/sdb1"

# Disks encrypted by the TPM LUKS key
CONFIG_QUBES_BOOT_DEV="/dev/sda1"
CONFIG_QUBES_VG="qubes_dom0"
