# Configuration for building the MOC "server" built to run under
# the qemu emulator.  Note that the TPM does not work, so this
# will just drop into the recovery shell.
BOARD=qemu
CONFIG_COREBOOT=y
CONFIG_CRYPTSETUP=y
CONFIG_FLASHROM=y
CONFIG_GPG=y
CONFIG_KEXEC=y
CONFIG_UTIL_LINUX=y
CONFIG_LVM2=y
CONFIG_MBEDTLS=y
CONFIG_PCIUTILS=y
CONFIG_POPT=y
CONFIG_QRENCODE=y
CONFIG_TPMTOTP=y
CONFIG_DROPBEAR=y
CONFIG_XEN=y

CONFIG_LINUX_USB=y
CONFIG_LINUX_E1000=y

CONFIG_BOOTSCRIPT=/bin/generic-init
CONFIG_TPM=n
