# Configuration for a Intel S2600wf server mainboard
# and it is NERF, not coreboot.
#
# Booting with UEFI in recovery (0xFEC00000) potentially
# gives us 7 MB of # space for Heads and NERF.  However,
# there appears to be a bug if the fvh spans a 4 MB
# region.
#
# The DxeCore also needs to be updated to know  about the
# new firmware volume location.
#
BOARD=s2600wf
NERF_SIZE=0x400000
PEI_OFFSET=0x3900000
PEI_SIZE=0x0700000
ME_OFFSET=0x20000
ME_SIZE=0x2BE0000
ROM_SIZE=67108864

CONFIG_EDK2=y

#CONFIG_CRYPTSETUP=y
#CONFIG_FLASHROM=y
#CONFIG_GPG=y
CONFIG_KEXEC=y
CONFIG_UTIL_LINUX=y
#CONFIG_LVM2=y
#CONFIG_MBEDTLS=y
CONFIG_PCIUTILS=y
#CONFIG_POPT=y
#CONFIG_QRENCODE=y
#CONFIG_TPMTOTP=y
#CONFIG_XEN=y
#CONFIG_DROPBEAR=y

CONFIG_LINUX_USB=y
#CONFIG_LINUX_IGB=y
#CONFIG_LINUX_MEGARAID=y
#CONFIG_LINUX_E1000E=y
CONFIG_LINUX_SCSI_GDTH=y
CONFIG_LINUX_ATA=y
CONFIG_LINUX_AHCI=y

CONFIG_BOOTSCRIPT=/bin/generic-init

CONFIG_BOOT_REQ_HASH=n
CONFIG_BOOT_REQ_ROLLBACK=n
CONFIG_BOOT_DEV="/dev/sda1"
CONFIG_USB_BOOT_DEV="/dev/sdb1"
