# Configuration for building the MOC "server" build on the x230
# thinkpad prototypes.
BOARD=x230
CONFIG_COREBOOT=y
CONFIG_CRYPTSETUP=y
CONFIG_FLASHROM=y
CONFIG_GPG=y
CONFIG_KEXEC=y
CONFIG_UTIL_LINUX=y
CONFIG_LVM2=y
CONFIG_MBEDTLS=y
CONFIG_PCIUTILS=y
CONFIG_POPT=y
CONFIG_QRENCODE=y
CONFIG_TPMTOTP=y
CONFIG_DROPBEAR=y

# xen is not used on the MOC machines
CONFIG_XEN=n

CONFIG_LINUX_USB=y
CONFIG_LINUX_E1000E=y

CONFIG_BOOTSCRIPT=/etc/keylime-init
