# Configuration for a x230 running Qubes OS
BOARD=x230

CONFIG_CRYPTSETUP=y
CONFIG_FLASHROM=y
CONFIG_GPG=y
CONFIG_KEXEC=y
CONFIG_LIBUUID=y
CONFIG_LVM2=y
CONFIG_MBEDTLS=y
CONFIG_PCIUTILS=y
CONFIG_POPT=y
CONFIG_QRENCODE=y
CONFIG_TPMTOTP=y
CONFIG_XEN=y

CONFIG_LINUX_USB=y
CONFIG_LINUX_E1000E=y

CONFIG_BOOTSCRIPT=/bin/qubes-init

# Disks encrypted by the TPM LUKS key
CONFIG_QUBES_BOOT_DEV="/dev/sda1"
CONFIG_QUBES_DEVS="/dev/sda2 /dev/sda3 /dev/sda5"
