# Configuration for a Lenovo x3550 m5
# and it is NERF, not coreboot.
BOARD=x3550m5
NERF_SIZE=0xB00000
PEI_OFFSET=0xB00000
PEI_SIZE=0x500000
ME_OFFSET=0x00000
ME_SIZE=0x00000
ROM_SIZE=16777216

CONFIG_EDK2=y

#CONFIG_CRYPTSETUP=y
CONFIG_FLASHROM=y
#CONFIG_GPG=y
CONFIG_KEXEC=y
CONFIG_UTIL_LINUX=y
#CONFIG_LVM2=y
CONFIG_MBEDTLS=y
CONFIG_PCIUTILS=y
CONFIG_POPT=y
CONFIG_QRENCODE=y
CONFIG_TPMTOTP=y
#CONFIG_XEN=y
CONFIG_DROPBEAR=y

CONFIG_LINUX_USB=y
CONFIG_LINUX_IGB=y
CONFIG_LINUX_MEGARAID=y
#CONFIG_LINUX_E1000E=y

CONFIG_BOOTSCRIPT=/bin/generic-init

CONFIG_BOOT_REQ_HASH=n
CONFIG_BOOT_REQ_ROLLBACK=n
CONFIG_BOOT_DEV="/dev/sda1"
CONFIG_USB_BOOT_DEV="/dev/sdb1"
