# Configuration for a Supermicro X11SSH-T / -TF server
# It has an AST2400 BMC for vga output; the built in i915 is not accessible
export CONFIG_COREBOOT=y
CONFIG_COREBOOT_CONFIG=config/coreboot-supermicro-x11ssh.config
CONFIG_LINUX_CONFIG=config/linux-linuxboot.config

CONFIG_CRYPTSETUP=y
CONFIG_FLASHROM=y
CONFIG_FLASHTOOLS=y
CONFIG_GPG2=y
CONFIG_KEXEC=y
CONFIG_UTIL_LINUX=y
CONFIG_LVM2=y
CONFIG_MBEDTLS=y
CONFIG_PCIUTILS=y
CONFIG_POPT=y
CONFIG_QRENCODE=y
CONFIG_TPMTOTP=y
CONFIG_DROPBEAR=y
CONFIG_MSRTOOLS=y

# Serial console only, no graphics

CONFIG_LINUX_USB=y
CONFIG_LINUX_IGB=y

CONFIG_LINUX_SCSI_GDTH=y
CONFIG_LINUX_ATA=y
CONFIG_LINUX_AHCI=y
CONFIG_LINUX_NVME=y
CONFIG_LINUX_MEI=y


export CONFIG_TPM=y
export CONFIG_BOOTSCRIPT=enter-recovery-shell
export CONFIG_BOOT_REQ_HASH=n
export CONFIG_BOOT_REQ_ROLLBACK=n
export CONFIG_BOOT_KERNEL_ADD="intel_iommu=on intel_iommu=igfx_off"
export CONFIG_BOOT_KERNEL_REMOVE="quiet"
export CONFIG_BOOT_DEV="/dev/sda1"
export CONFIG_USB_BOOT_DEV="/dev/sdb1"

