# Nitrokey Nitropad NV41 board configuration

export CONFIG_COREBOOT=y
export CONFIG_COREBOOT_VERSION=nitrokey
export CONFIG_LINUX_VERSION=6.1.8

CONFIG_COREBOOT_CONFIG=config/coreboot-nitropad-nv41.config
CONFIG_LINUX_CONFIG=config/linux-nitropad-x.config

CONFIG_NITROKEY_BLOBS=y

CONFIG_KEXEC=y
CONFIG_QRENCODE=y
CONFIG_TPMTOTP=y
CONFIG_POPT=y
CONFIG_FLASHTOOLS=y
CONFIG_FLASHROM=y
CONFIG_PCIUTILS=y
CONFIG_UTIL_LINUX=y
CONFIG_CRYPTSETUP2=y
CONFIG_GPG2=y
CONFIG_LVM2=y
CONFIG_MBEDTLS=y

CONFIG_IOTOOLS=y

CONFIG_DROPBEAR=y

CONFIG_MSRTOOLS=y
CONFIG_HOTPKEY=y

CONFIG_CAIRO=y
CONFIG_FBWHIPTAIL=y

CONFIG_LINUX_USB=y

CONFIG_LINUX_E1000=y

export CONFIG_BOOTSCRIPT=/bin/gui-init

export CONFIG_BOOT_KERNEL_ADD=""
export CONFIG_BOOT_KERNEL_REMOVE="intel_iommu=on intel_iommu=igfx_off"

# TPM2 requirements
export CONFIG_TPM2_TOOLS=y
export CONFIG_PRIMARY_KEY_TYPE=ecc
CONFIG_TPM2_TSS=y
CONFIG_OPENSSL=y


export CONFIG_BOOT_DEV="/dev/nvme0n1"
export CONFIG_BOARD_NAME="Nitropad NV41"
export CONFIG_FLASHROM_OPTIONS="--force --noverify-all -p internal"

