# Star Labs StarLite Mk V (Lite ADL).
# Initial installation and recovery require an external SPI programmer.
# https://support.starlabs.systems/hc/star-labs/articles/starlite-mk-v-installingrecovering-firmware-with-external-programmer
include $(pwd)/boards/starlabs/physical-intel.config

CONFIG_COREBOOT_CONFIG=config/coreboot-starlabs_lite_adl.config

export CONFIG_BOARD_NAME="Star Labs StarLite Mk V"
export CONFIG_COREBOOT_SMBIOS_PRODUCT_NAME=StarLite
export CONFIG_USB_KEYBOARD_REQUIRED=y

# The fixed COREBOOT region cannot contain the full Heads package set.
CONFIG_CRYPTSETUP2=n
CONFIG_LVM2=n
CONFIG_MOBILE_TETHERING=n
CONFIG_POPT=n
CONFIG_UTIL_LINUX=n
CONFIG_EXFATPROGS=n
CONFIG_E2FSPROGS=n
CONFIG_KBD=n
CONFIG_KBD_LOADKEYS=n
CONFIG_LINUX_E1000=n
