# Minimal configuration for a t430 to support flashrom and USB

export CONFIG_COREBOOT=y
export CONFIG_COREBOOT_VERSION=4.13
export CONFIG_LINUX_VERSION=4.14.62

CONFIG_BASH=n
CONFIG_FLASHROM=y
#CONFIG_GPG=y
#CONFIG_FLASHTOOLS=y
CONFIG_PCIUTILS=y
#CONFIG_MBEDTLS=y
#CONFIG_QRENCODE=y
#CONFIG_TPMTOTP=y
#CONFIG_DROPBEAR=y

CONFIG_LINUX_CONFIG=config/linux-x230-flash.config
CONFIG_LINUX_USB=y
#CONFIG_LINUX_E1000E=y

export CONFIG_BOOTSCRIPT=/bin/t430-flash.init
export CONFIG_BOARD_NAME="ThinkPad T430-legacy-flash"
export CONFIG_FLASHROM_OPTIONS="--force --noverify-all -p internal --ifd --image bios"

# This board is "special" in that we need a 4MB top SPI flashable ROM.
# This is enough to allow the board to boot into a minimal Heads and read the full Legacy
# ROM from an external USB media.
# 
# No tools outside of flashrom are provided here as you can see per activated modules above.
# Everything Heads is now delegated to the Legacy ROM to be flashed
# from xx30-flash ROMs. 
#
# Instructions to mount USB thumb drive and flash legacy 12Mb image will be given on screen
# per CONFIG_BOOTSCRIPT script above.
#
# Below, we just move produced ROM with a name appended with -top.rom for clarity.
all: $(board_build)/heads-$(BOARD)-$(HEADS_GIT_VERSION)-top.rom
$(board_build)/heads-$(BOARD)-$(HEADS_GIT_VERSION)-top.rom: $(board_build)/$(CB_OUTPUT_FILE)
	$(call do,MV 4MB top ROM,$@, mv $< $@)
	@sha256sum $@
